body {
    background: #eee;
}

.header {
    background-color: #026b00;
    margin-bottom: 20px;
    padding: 10px 100px 10px 30px;
}

.title {
    margin-left: 20px;
    text-decoration: none;
    color: #cacaca;
    transition: 0.5s;
}

.title:hover {
    color: #fdfd01;
    transition: 0.5s;
}

.topmenu {
    display: flex;
    word-break: keep-all;
}

.topmenu > div > a {
    margin-bottom: 0;
}

.topmenu > div{
    margin-right: 20px;
}

.topmenu > div:last-child{
    margin-right: 0;
}

.topmenu > .buttons {
    display: flex;
    margin-left: auto;
}

.topmenu > .buttons > a {
    border: #485ef6 2px solid;
    padding: 10px;
    margin-right: 20px;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    transition: 0.5s;
    border-radius: 20px;
    background-color: #cacaca;
}

.topmenu > .buttons > a:last-child {
    margin-right: 0;
}

.topmenu > .buttons > a:hover {
    background-color: #485ef6;
    color: #cacaca;
    font-weight: bold;
    transition: 0.5s;
}

.user-area {
    color: white;
}

canvas {
    border: black 2px solid;
}

.left-menu > p > a > img {
    transition: 0.5s;
}

.left-menu > p > a > img:hover {
    margin-left: 10px;
    transition: 0.5s;
}

.ad > a > img {
    opacity: 0;
    margin-top: 50px;
    animation: late-open 1s ease-in 1.5s forwards;
}

@keyframes late-open {
    to {
        margin-top: 0;
        opacity: 100%;
    }
}