extends ../../layouts/layout

block content
  .container.w-50(style='min-width: 200px')
    h1.text-center 文章編集
    form(method='post' action='/admin/sentences/edit')
      input#id(type='hidden' name='id' value=data.id)
      .mb-3
        label.form-label(for='sentence') 文章
        input#sentence.form-control(type='text' name='sentence' value=data.sentence)
      .mb-3
        label.form-label(for='kana') かな
        input#kana.form-control(type='text' name='kana' value=data.kana)
      .mb-3.text-center
        button.btn.btn-primary.w-50 更新