extends layout
block content
  .container.d-flex.align-items-start
    .row.col-2(style='min-width: 200px')
      p
        a(href='./ranking') ランキングページ
      if user
        p
          a(href='./admin/sentences') 文章一覧ページ
      a(href='http://s21025.pythonanywhere.com/')
        img(src='./image/ogiri.png' alt='' )
    .row.col-10
      #game.text-center
block header
  script(src='//cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.min.js')
  script(src='./js/game.js')