extends layout

block content
  .container.w-50.text-center
    h3.m-3 ログイン
    p.text-danger= error
    .w-50.d-flex.align-items-center.m-auto
      form(method='post' action='/login')
        .mb-3
          label.form-label(for='username') ユーザー名
          input#username.form-control(type='text' name='username' required=true value=id)
        .mb-3
          label.form-label(for='password') パスワード
          input#password.form-control(type='password' name='password' required=true)
        .mb-3.text-center
          button.btn.btn-primary.w-50 ログイン